html, body {
    margin: 0px;
    padding:0px;
}

.topBox {
    background-color: rgb(123, 205, 238);

}

.topInfo {
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
}

.infoBox {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(255, 255, 255);
}

.botBox {
    background-color: rgb(219, 219, 219);
    margin: 0px;
    border:2px solid black;
}

.jobBox {
    float: left;
}